img {
    max-width: 350px;
}

h3, h4 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.horizontal-break {
    margin-top: 2em;
    margin-bottom: 2em;
}

.form-container {
    width: 90%;
    padding: 2em;    
}

.nav-link {
    color: white;
}

.card-text {
    text-align: left;
}

